html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  min-width: 290px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

#navbar {
  min-width: 290px;
  width: 300px;
  height: 100%;
  border-right: 2px solid #3b413c;
  position: fixed;
  top: 0;
  margin-left: -.6rem;
}

header {
  color: #3b413c;
  margin: 10px;
  text-align: center;
  font-size: 1.7rem;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#navbar ul::-webkit-scrollbar {
  display: none;
}

#navbar ul li {
  border-bottom: 2px solid #3b413c;
  padding: 16px 0 16px 28px;
  position: relative;
  margin-left: auto;
}

#navbar ul li:first-child {
  border-top: 2px solid #3b413c;
}

#navbar ul li:last-of-type {
  border-bottom: none;
}


#navbar a {
  text-decoration: none;
  font-size: 16px;
  color: #3b413c;
  cursor: pointer;
}

#navbar a:hover {
  color: #3b413ccd;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  color: #3b413c;
  font-weight: 300;
}

section article {
  color: #3b413c;
  margin: 15px;
  font-size: 1rem;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  background-color: #daf0ee7d;
  display: block;
  text-align: left;
  white-space: pre-line;
  word-wrap: normal;
  line-height: 2;
  margin: .5rem 0;
  padding: 1.5rem 0 1.5rem 1rem;
  border-radius: 5px;
  font-weight: 100;
}


@media only screen and (max-width: 800px) {
  #navbar {
    position: static;
    width: 100%;
    border: none;
  }

  #navbar ul li {
    border: none !important;
  }

  #navbar ul li ::before {
    background-color: ;
    content: " ➢ ";
  }

  #navbar header {
    border: none;
  }

  #main-doc {
    margin-left: -10px;
    position: static;
  }

  code {
    margin-left: -2px;
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}